* {
	margin: 0;
	padding: 0;
}
body{
	background-color: #DCF5DB;
	font-family: Arial;
}
a{text-decoration: none;}
a:visited{color:#110932;}
a:link{color:#110932;}


/*=============Cabeçalho=============*/
#cabecalho{
	text-align:center;
	background-color: #2C5363;
	border-style: solid none solid none;

}
#cabecalho h1{
	letter-spacing: 0.8cm;
	font-family: Cooper Black;
	font-size: 2.5cm;
	padding-top:1cm;
	color:#00071A;
}
#cabecalho h2{
	padding-bottom:1cm;
	color:#110932;
	text-decoration: underline;
	text-decoration-color:black;
}

/*=============Esquerda=============*/
#esquerda{
	float:left;
	width:16%;
	height:230px;
	margin:0 0 0 0.3cm;
	color:#110932;
	padding:0.2cm;
	background-color:#8FBCAD;
	border-style:double;
	border-color: #110932;
	border-width: 5px;
	list-style-position: inside;
}  
#menu li{
	padding-top: 0.3cm;
	font-size: 22px;
	font-weight: bold;
}
#menu li:hover{background-color:#D2F1FE}
#menu h1{
	letter-spacing:0.1cm;
	font-size: 25px;
	padding-left: 0.4cm
}
/*=============Centro=============*/
#centro {
	font-family:Roboto Slab;
	width:60%;
	margin:0 0 0 19%;
	background-color:#C0EDBF;
	padding: 0.3cm; 
	list-style-position: inside;
}
#centro h1{
	font-family: Cooper Black;
	padding-top:0.5cm;
	text-decoration: underline;
}
#centro p{
	padding-top: 0.5cm;
	font-size: 20px;
}
#centro li{
	padding-left: 0.3cm;
	font-size: 20px;
}

