* {
	margin: 0;
	padding: 0;
}
body{
	background-color: #DCF5DB;
	font-family: Arial;
}
a{text-decoration: none;}
a:visited{color:#110932;}
a:link{color:#110932;}
li:hover{background-color:#D2F1FE}


/*=============Cabeçalho=============*/
#cabecalho{
	text-align:center;
	background-color:#266882;
	border-style: solid none solid none;
}
#cabecalho h1{
	letter-spacing: 0.3cm;
	font-family: Cooper Black;
	font-size: 2.5cm;
	padding:0.5cm 0 0.5cm 0;
	color:#00071A;
}
/*=============Esquerda=============*/
#esquerda{
	float:left;
	width:16%;
	height:45px;
	margin:0 0 0 0.3cm;
	color:#110932;
	padding:0.2cm;
	background-color:#8FBCAD;
	border-style:double;
	border-color: #110932;
	border-width: 5px;
	list-style-position: inside;

}  
#menu li{
	padding:0.3cm 0 0.3cm 0;
	font-size: 16px;
}

/*=============Centro=============*/
#centro {
	font-family:Roboto Slab;
	width:60%;
	margin:0 0 0 19%;
	background-color:#C0EDBF;

	padding: 0.3cm;    
}
#centro h1{
	font-size:25px;
	font-family:Cooper Black;
	padding-top: 0.5cm;
}
